.mainContainer {
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100vw;
}

.inputForm {
  margin-top: 32px;
  gap: 32px;
  flex-direction: column;
  display: flex;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.gridContainer {
  padding-bottom: 140px;
  overflow: scroll;
}

.gridItem {
  align-items: center;
  justify-content: center;
  height: fit-content;
}