.navTab {
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 3px black solid;
  background-color: white;
}

.singleTab {
  width: 50%;
  height: 60px;
}

.leftTab {
  border-right: 3px black solid !important;
}

.tabIcon {
  width: 50px !important;
  height: 50px !important;
  color: black;
}

.topText {
  position: fixed;
  top: 0;
  background-color: white;
  margin: auto;
  width: 100vw;
  border-bottom: 3px black solid;
}

.spacer {
  height: 60px;
}